:root {
  font-size: 16px;
  background-color: aqua;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

h1.title {
  text-align: center;
  font-size: 3rem;
}

div.new {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

input.name {
  width: 500px;
  height: 30px;
  flex-grow: 1;
  flex-shrink: 1;
}

input.name::placeholder {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}

select#priority {
  width: 100px;
  height: 35px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}

button {
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}

button.add {
  font-size: 1rem;
  height: 35px;
  width: 50px;
  background-color: cyan;
  border-color: darkcyan;
}

button.remove {
  color: white;
  font-size: 0.75rem;
  width: 75px;
  height: 25px;
  background-color: red;
  border-color: darkred;
}

.hidden {
  display: none;
}

table.table {
  width: 680px;
  font-family: "Courier New", Courier, monospace;
}

tr {
  height: 35px;
}

thead {
  font-weight: bold;
  font-size: 1rem;
}

tbody {
  font-size: 0.75rem;
}
